@tailwind base;
@tailwind components;
@tailwind utilities;
.para{
  background-color: blueviolet;
}

body{
  margin: 0;
  background: #07182E;
  
}

@media screen and (min-width: 600px) {
  body {zoom: 50%;}
}

@media screen and (min-width: 900px) {
  body {zoom: 60%;}
}

@media screen and (min-width: 1300px) {
  body {zoom: 70%;}
} 

@media screen and (min-width: 1400px) {
  body {zoom: 80%;}
  
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;
  
}

/* .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
} */

.about{
  color: white;
}

.container {
  position: relative;
  font-family: sans-serif;
}

.container::before, .container::after {
  content: "";
  background-color: #5E51F3;
  position: absolute;
}

.container::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.container::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.container .box {
  /* width: 520px;
  height: 8.875em; */
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 0px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(60px);
  border-radius: 20px;
  transition: all ease .3s;
}

.container .box {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.container .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .1em
}

.container .box div strong {
  display: block;
  margin-bottom: .5rem;
}

.container .box div p {
  margin: 0;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: .1em;
}

.container .box div span {
  font-size: .7rem;
  font-weight: 300;
}

.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: .2rem;
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #5E51F3;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

/* Buildtoearn */

.card {
  width: 1290px;
  height: 654px;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 40px;
}

.card div {
  z-index: 1;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  width: 300px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 530%;
  animation: rotBGimg 2s linear infinite;
  transition: all 0.9 linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);


  inset: 7px;
  border-radius: 40px;
}  
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

